.project{
    width: 570px;
    background-color: #c9c9c9;
    height: 714px;
    margin-bottom: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    .project {
      width: max(calc(50vw - 30px) , 470px);
      height: max(calc(62vw - 30px) , 589px);
    }
  }