.title {
  width: 500px;
}

.buttonHire {
  margin-top: 7vh;
  width: 189px;
  height: 53px;
  background: #743bfc;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
}

.buttonHire:hover {
  cursor: pointer;
  border: #6233d1 3px solid;
}
.buttonHireText {
  width: 91px;
  height: 27px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #ffffff;
}
.welcome_text {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.welcome_title {
  font-size: 68px;
  font-style: normal;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-top: 4vh;
  font-family: "Poppins-Bold";
}

.linkContainer {
  width: 234px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  /* position: fixed; */
  bottom: 27px;
}

.link:hover {
  cursor: pointer;
}
