.itemV {
  height: 700px;
  width: 500px;
  background-color: rgb(206, 206, 206);
  margin-right: 50px;
}
.itemH {
  width: 700px;
  height: 500px;
  background-color: rgb(206, 206, 206);
  margin-right: 50px;
}

.sideMargin {
  width: max(calc(50vw - 585px), 15px) ;
}
