.buttonHire {
  margin-top: 7vh;
  width: 189px;
  height: 53px;
  background: var(--second-bg-color);
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
}

.buttonHire:hover {
  cursor: pointer;
  border: #6233d1 3px solid;
}
.buttonHireText {
  width: 91px;
  height: 27px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--text-color);
}
