.body {
  padding: 10vh 0;
  background: var(--second-bg-color);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: var(--text-color);
}

.subTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  margin-bottom: 7vh;
}

.projects {
  height: auto;
  display: flex;
  justify-content: space-between;
}

.leftSide {
  height: auto;
}

.rightSide {
  margin-top: 5vh;
  height: auto;
}

@media screen and (max-width: 1145px) {
  /* .projects {
    height: 540vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
  } */
}
