.welcomeTitle {
  font-size: 6.8rem;
  font-style: normal;
  line-height: 9.4rem;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
  margin-top: 4vh;
  font-family: "Poppins-Bold";
  width: max(calc(7% + 300px), 35%);
}
