body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .slider */
.swiper-slide {
  width: auto !important;
  height: auto !important;
  margin-bottom: 10vh;
}
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-next-next {
  display: unset !important;
}



@font-face {
  font-family: "Poppins-Bold";
  src: url("./data/fonts/Poppins/Poppins-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./data/fonts/Poppins/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./data/fonts/Poppins/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./data/fonts/Poppins/Poppins-SemiBold.ttf");
  font-style: normal;
  font-weight: normal;
}
